html,
body {
    height: 100%;
}
body {
    background: #078669;
}
#main {
    margin: 20px auto;
    padding: 20px;
}
.clear {
    clear: both;
}
ul li {
    background: #fff;
    padding: 10px;
    margin: 3px;    
    font-size: 12px;
}   
h2 {
    color: #fff;
}

.works .work {
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px solid #ccc;
    float: left;
}